# Pandas

## DataFrame Part1

In [30]:
import numpy as np
import pandas as pd
from numpy.random import randn

np.random.seed(100)

In [31]:
# Index Levels
outside = 'G1 G1 G1 G2 G2 G2'.split()
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [32]:
df = pd.DataFrame(randn(6,2), hier_index,['A','B'])

In [33]:
df

             A         B
G1 1 -1.749765  0.342680
   2  1.153036 -0.252436
   3  0.981321  0.514219
G2 1  0.221180 -1.070043
   2 -0.189496  0.255001
   3 -0.458027  0.435163

In [34]:
df.index.names = ['Group', 'Num']

In [35]:
df

                  A         B
Group Num
G1    1   -1.749765  0.342680
      2    1.153036 -0.252436
      3    0.981321  0.514219
G2    1    0.221180 -1.070043
      2   -0.189496  0.255001
      3   -0.458027  0.435163

In [43]:
df.loc['G2'].loc[2]['B']

0.25500144427338167

In [44]:
df.loc['G2']['B'][2]

0.25500144427338167

In [47]:
df.xs('G1')

            A         B
Num
1   -1.749765  0.342680
2    1.153036 -0.252436
3    0.981321  0.514219

In [50]:
df.xs(1,level='Num')

              A         B
Group
G1    -1.749765  0.342680
G2     0.221180 -1.070043